@tailwind base;
@tailwind components;
@tailwind utilities;

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px #27ae60 inset !important;
  -webkit-text-fill-color: #fff !important;
  border: none !important;
  outline: none !important;
}

.custom-chats-scrollbar {
  width: 100%;
  overflow-x: scroll; /* Enable horizontal scrolling */
  overflow-y: hidden; /* Disable vertical scrolling */
}

.custom-chats-scrollbar::-webkit-scrollbar {
  height: 8px; /* Height of the horizontal scrollbar */
}

.custom-chats-scrollbar::-webkit-scrollbar-thumb {
  background-color: #888; /* Thumb color */
  border-radius: 10px; /* Round the corners of the thumb */
}

.custom-chats-scrollbar::-webkit-scrollbar-track {
  background-color: #f1f1f1; /* Track color */
  border-radius: 10px; /* Round corners of the track */
}

.custom-meals-scrollbar {
  width: 100%;
  overflow-y: scroll;
}

.custom-meals-scrollbar::-webkit-scrollbar {
  width: 8px; /* Width of the scrollbar */
}

.custom-meals-scrollbar::-webkit-scrollbar-thumb {
  background-color: #888; /* Thumb color */
  border-radius: 10px; /* Round the corners of the thumb */
}

.custom-meals-scrollbar::-webkit-scrollbar-track {
  background-color: #f1f1f1; /* Track color */
  border-radius: 10px; /* Round corners of the track */
}
